.egg-info {
  margin-top: 8px;
}

.egg-info .columns:first-child .column {
  padding-bottom: 5px;
}
.egg-info .columns:not(:first-child) .column {
  padding-top: 5px;
}

.media-content .column {
  padding-top: 7px;
}

.edit-icon {
  padding-top: 5px;
}

.weight {
  text-align: end;
}

.box:not(:last-child) {
  margin-bottom: .5rem;
}
