<div *ngIf="index >= 0; else loading">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-6">Chicken Profile</p>
      </div>
      <div *ngIf="isFlockOwner" class="level-item">
          <a class="button is-white" [routerLink]="['/chicken/edit', chickens[index]['$key']]">
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
          </a>
      </div>
    </div>
    <div *ngIf="chickens.length > 1" class="level-right">
      <div class="level-item">
        <button class="button" [disabled]="index === 0" [routerLink]="['/chicken', index > 0 ? chickens[index - 1]['$key'] : chickens[index]['$key']]">
          <span class="icon is-small">
            <i class="fa fa-chevron-left"></i>
          </span>
        </button>
      </div>
      <div class="level-item next-right">
        <button class="button" [disabled]="index+1 === chickens.length" [routerLink]="['/chicken', index < chickens.length - 1 ? chickens[index + 1]['$key'] : chickens[index]['$key']]">
          <span class="icon is-small">
            <i class="fa fa-chevron-right"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
  <article class="media">
    <figure class="media-left">
      <div class="profile-image" (click)="chickens[index].photoUrl ? imageViewer.open() : null" [ngStyle]="{ 'background-image': 'url(' + (chickens[index].thumbnailUrl ? chickens[index].thumbnailUrl : '/assets/images/default-profile-photo.png') + ')'}">

      </div>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <span class="heading">
            Name
          </span>
          <span class="title is-6">
            {{ chickens[index].name }}
          </span>
        </p>

        <p *ngIf="chickens[index].breed">
          <span class="heading">
            Breed
          </span>
          <span class="title is-6">
            {{ chickens[index].breed }}
          </span>
        </p>
        <p *ngIf="chickens[index].hatched">
          <span class="heading">
            Hatched
          </span>
          <span class="title is-6">
            {{ chickens[index].hatched }}
          </span>
        </p>
      </div>

    </div>
  </article>
  <hr>
  <div *ngIf="stats">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <p class="heading">Stats</p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item has-text-centered">
          <a class="button is-small is-primary" routerLink="/egg/add" [queryParams]="{chickenId: chickens[index].$key}">
            <span class="icon">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <span>Egg</span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="stats.total === 0" class="level is-mobile">
      <div class="level-item">
        <em>No eggs logged yet</em>
      </div>
    </div>
    <div *ngIf="stats.total > 0">
      <div class="level is-mobile content">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Eggs</p>
            <p class="title is-4">{{ stats.total }}</p>
            <p class="subtitle is-6">Total</p>
          </div>
        </div>
        <div *ngIf="stats.heaviest" class="level-item has-text-centered">
          <div>
            <p class="heading">Heaviest</p>
            <p class="title is-4">{{ stats.heaviest.weight }}g</p>
            <p class="subtitle is-6">on {{ stats.heaviest.date | date }}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Longest Streak</p>
            <p class="title is-4">{{ stats.longestStreak }}</p>
            <p class="subtitle is-6">{{ stats.longestStreak === 1 ? 'Day' : 'Days' }}</p>
          </div>
        </div>
      </div>

      <div id="week-trend" class="level is-mobile">
        <div class="level-left"></div>
        <div class="level-item">
          <p class="heading">Last 7 Days</p>
        </div>
      </div>
      <div class="columns is-mobile is-gapless">
        <a *ngFor="let key of objectKeys(stats.lastSevenDays)" class="column" [routerLink]="['/eggs/day', key]">
          <div class="has-text-centered box is-radiusless" [ngClass]="{'is-success': stats.lastSevenDays[key] > 0}">
            <p class="is-size-7">{{ key | date:'MMM' }}</p>
            <p>{{ key | date:'d' }}</p>
            <p>
              <span *ngIf="stats.lastSevenDays[key] > 0" class="icon has-text-success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </span>
              <span *ngIf="stats.lastSevenDays[key] === 0" class="icon has-text-grey">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <image-viewer #imageViewer [imageUrl]="chickens[index].photoUrl"></image-viewer>
</div>

<ng-template #loading>
  <loading-spinner></loading-spinner>
</ng-template>
