// Colors

$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Grayscale
$gray-dark:                 #222;
$gray:                      #212121;
$gray-light:                #666;
$gray-lighter:              #bbb;
$gray-lightest:             #eee;

@import url('https://fonts.googleapis.com/css?family=Roboto');

///// Content
body {
  font-family: 'Roboto', sans-serif;
}

.input {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .cal-header {
    font-size: xx-small;
  }
  .cal-month-view {
    margin-left: -.5rem !important;
    margin-right: -.5rem !important;
  }
}

.cal-day-badge {
  display: none !important;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em !important;
}

.profile-image {
  background-size:cover;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
}

.profile-image-sm {
  background-size:cover;
  background-repeat: no-repeat;
  width: 96px;
  height: 96px;
}

.media-content {
  min-width: 0;
}

.is-clipped {
  text-overflow: ellipsis;
}

// Bulma override for v.0.6.1
.level-right .level-item:last-child {
  margin-right: 0;
}

// Input field widths for forms
.sm-field {
  max-width: 110px;
}

.md-field {
  max-width: 220px;
}

.lg-field {
  max-width: 330px;
}
