<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <p class="title is-6">My Flocks</p>
    </div>
  </div>
</div>

<div *ngIf="flocks | async; let flocks; else loading">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="heading">Manage an existing flock</p>
      </div>
    </div>
  </div>

  <div class="panel">
    <div *ngFor="let flock of flocks" class="panel-block">
      <div class="level is-mobile wide">
        <div class="level-left">
          <div class="level-item" (click)="selectFlock(flock.$key)">
            <span>{{ flock.name }}</span>
            <span *ngIf="flock.$key === user.currentFlockId" class="has-text-success">
              <span class="icon">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button *ngIf="flock.ownedBy === user['$key']" class="delete" (click)="deleteFlock(flock.$key)"></button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <hr>
</div>

<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <p class="heading">Create a new flock</p>
    </div>
  </div>
</div>
<form (submit)="addFlock()">
  <div class="field has-addons">
    <div class="control wide">
      <input [(ngModel)]="newFlockName" [ngModelOptions]="{standalone: true}" maxlength="25" class="input" type="text" placeholder="Enter a name for your flock">
    </div>
    <div class="control">
      <a class="button is-light">
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span>New</span>
      </a>
    </div>
  </div>
</form>

<hr>
<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <p class="heading">Join someone else's flock</p>
    </div>
  </div>
</div>

<form (submit)="joinFlock()">
  <div class="field has-addons">
    <div class="control wide">
      <input [(ngModel)]="joinFlockId" [ngModelOptions]="{standalone: true}" class="input" type="text" placeholder="Enter a Flock ID">
      <div *ngIf="flockNotFound && joinFlockId" class="help is-danger">
        No flock found with that key.
      </div>
    </div>
    <div class="control">
      <a class="button is-light">
        <span class="icon">
          <i class="fa fa-link"></i>
        </span>
        <span>Join</span>
      </a>
    </div>
  </div>
</form>

<div *ngIf="user?.currentFlockId" class="level">
  <div class="level-item">
    Invite someone to join your flock with this ID:
  </div>
  <div class="level-item">
    {{ user.currentFlockId }}
  </div>
</div>



<ng-template #loading>
  <loading-spinner></loading-spinner>
</ng-template>
