<user-form-container [errorMessage]="errorMessage" [showTabs]="false">
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <div *ngIf="!errorMessage && !success" class="info-message">
      To reset your password, please type in your email address and click Submit.
    </div>

    <div *ngIf="success" class="notification is-success">
      <div>Please check your inbox for an email with instructions for reseting your password.</div>
      <a routerLink="/login">Return to Login</a>
    </div>

    <div class="field">
      <label class="label">Email Address</label>
      <div class="control has-icons-right">
        <input #setFocus type="email" id="email" class="input" [ngClass]="{'is-danger': formErrors.email, 'is-success': !formErrors.email && form.get('email').dirty}"
          formControlName="email">
        <span *ngIf="!formErrors.email && form.get('email').dirty" class="icon is-small is-right">
          <i class="fa fa-check"></i>
        </span>
        <span *ngIf="formErrors.email" class="icon is-small is-right">
          <i class="fa fa-warning"></i>
        </span>
      </div>
      <p *ngIf="formErrors.email" class="help is-danger">{{ formErrors.email }}</p>
    </div>

    <button type="submit" class="button is-primary" [disabled]="!form.valid">Submit</button>
    <a class="is-pulled-right" routerLink="/login">Return to Login</a>
  </form>
</user-form-container>
