<form [formGroup]="chickenForm" (ngSubmit)="addChicken()">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-6">Add Chicken</p>
      </div>
    </div>
  </div>

  <label for="name">Name</label>
  <input type="text" id="name" class="input" formControlName="name" required>

  <div *ngIf="formErrors.name" class="help is-danger">
    {{ formErrors.name }}
  </div>

  <label for="breed">Breed</label>
  <input type="text" id="breed" class="input" formControlName="breed">

  <!-- <div *ngIf="formErrors.breed" class="help is-danger">
    {{ formErrors.breed }}
  </div> -->

  <label for="hatched">Hatched</label>
  <input type="date" id="hatched" class="input" formControlName="hatched">

  <!-- <div *ngIf="formErrors.hatched" class="help is-danger">
    {{ formErrors.hatched }}
  </div> -->

  <label for="photo">Photo</label>
  <!-- <input type="text" id="photo" class="input" formControlName="photo"> -->
  <div class="level">
    <div class="level-left">
        <div *ngIf="!loadingMessage" class="profile-image" [ngStyle]="{ 'background-image': 'url(' + (imageData ? imageData.preview : '/assets/images/default-profile-photo_thumb.png') + ')'}"></div>
    </div>
  </div>
  <loading-spinner *ngIf="loadingMessage" [message]="loadingMessage"></loading-spinner>


  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <div class="file is-small">
          <label class="file-label">
            <input class="file-input" (change)="onImageChange($event)" type="file" accept="image/*" name="photo">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a photo...
              </span>
            </span>
          </label>
        </div>
      </div>
      <div class="level-item">
        <a class="button is-small" (click)="resetPreview()">Clear</a>
      </div>
    </div>
  </div>


  <button type="submit" class="button is-primary" [disabled]="!chickenForm.valid">Submit</button>
  <a class="button" (click)="location.back()">Cancel</a>

</form>
