<div *ngIf="errorMessage" class="notification is-danger">
  {{ errorMessage }}
</div>

<form [formGroup]="chickenForm" (ngSubmit)="saveForm()">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-6">{{ chicken ? 'Edit' : 'Add' }} Chicken</p>
      </div>
    </div>
  </div>

  <label for="name">Name</label>
  <input #setFocus type="text" id="name" class="input" formControlName="name" maxlength="25" required>

  <div *ngIf="formErrors.name" class="help is-danger">
    {{ formErrors.name }}
  </div>

  <label for="breed">Breed</label>
  <input type="text" id="breed" class="input" formControlName="breed" maxlength="25">

  <label for="hatched">Hatched</label>
  <input type="date" id="hatched" class="input" formControlName="hatched">

  <label for="photo">Photo</label>
  <loading-spinner *ngIf="loadingMessage" [message]="loadingMessage"></loading-spinner>
  <div *ngIf="!loadingMessage" class="level is-mobile">
    <div class="level-left photo-picker">
      <div class="level-item">
        <div class="is-inline-block profile-image" [ngStyle]="{ 'background-image': 'url(' + (imageData ? imageData.preview : chicken && chicken.thumbnailUrl ? chicken.thumbnailUrl : '/assets/images/default-profile-photo_thumb.png') + ')'}"></div>
      </div>
      <div class="level-item">
        <div>
          <div class="file is-small photo-button">
            <label class="file-label full-width">
              <input class="file-input" (change)="onImageSelected($event)" type="file" accept="image/*" name="photo">
              <span class="file-cta full-width">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a photo...
                </span>
              </span>
            </label>
          </div>
          <div class="photo-button">
            <a *ngIf="imageData" class="button is-small full-width" (click)="resetPreview()">
              <span class="icon is-small">
                <i class="fa fa-undo"></i>
              </span>
              <span>
                Revert
              </span>
            </a>
          </div>
          <div>
            <a *ngIf="chicken && chicken.photoUrl && !imageData" class="button is-small" (click)="removeProfileImage()">
              <span class="icon is-small">
                <i class="fa fa-ban"></i>
              </span>
              <span>
                Delete Profile Photo
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="button is-primary" [disabled]="!chickenForm.valid">Save</button>
  <a class="button" (click)="location.back()">Cancel</a>

</form>
