<div *ngIf="errorMessage" class="notification is-danger">
  {{ errorMessage }}
</div>

<form [formGroup]="chickenForm" (ngSubmit)="saveForm()">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-6">{{ chicken ? 'Edit' : 'Add' }} Chicken</p>
      </div>
    </div>
  </div>

  <div class="field lg-field">
    <label class="label">Name</label>
    <div class="control has-icons-right">
      <input #setFocus type="text" id="name" class="input" formControlName="name" maxlength="25" [ngClass]="{'is-danger': formErrors.name}">
      <span *ngIf="formErrors.name" class="icon is-small is-right">
        <i class="fa fa-warning"></i>
      </span>
    </div>
    <p *ngIf="formErrors.name" class="help is-danger">
      {{ formErrors.name }}
    </p>
  </div>

  <div class="field lg-field">
    <label class="label">Breed</label>
    <div class="control">
      <input type="text" id="breed" class="input" formControlName="breed" maxlength="25">
    </div>
  </div>

  <div class="field md-field">
    <label class="label">Hatched</label>
    <div class="control">
      <input type="date" id="hatched" class="input" formControlName="hatched">
    </div>
  </div>

  <label class="label">Photo</label>
  <loading-spinner *ngIf="loadingMessage" [message]="loadingMessage"></loading-spinner>
  <div *ngIf="!loadingMessage" class="level is-mobile">
    <div class="level-left photo-picker">
      <div class="level-item">
        <div class="is-inline-block profile-image" [ngStyle]="{ 'background-image': 'url(' + (imageData ? imageData.preview : chicken && chicken.thumbnailUrl ? chicken.thumbnailUrl : '/assets/images/default-profile-photo_thumb.png') + ')'}"></div>
      </div>
      <div class="level-item">
        <div>
          <div class="file is-small photo-button">
            <label class="file-label full-width">
              <input class="file-input" (change)="onImageSelected($event)" type="file" accept="image/*" name="photo">
              <span class="file-cta full-width">
                <span class="file-icon">
                  <i class="fa fa-camera"></i>
                </span>
                <span class="file-label">
                  Photo
                </span>
              </span>
            </label>
          </div>
          <div class="photo-button">
            <a *ngIf="imageData" class="button is-small full-width" (click)="resetPreview()">
              <span class="icon is-small">
                <i class="fa fa-undo"></i>
              </span>
              <span>
                Revert
              </span>
            </a>
          </div>
          <div>
            <a *ngIf="chicken && chicken.photoUrl && !imageData" class="button is-small" (click)="removeProfileImage()">
              <span class="icon is-small">
                <i class="fa fa-ban"></i>
              </span>
              <span>
                Delete Photo
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="button is-primary" [disabled]="!chickenForm.valid">Save</button>
  <a class="button" (click)="location.back()">Cancel</a>

</form>
