.modal-content {
  width: auto;
}

.controls {
  margin-top: 10px;
}

.controls .button {
  width: 4rem;
}

.controls .button:last-child {
  margin-left: 5px;
}

.notification {
  padding-right: 1.5rem;
  max-width: 500px;
}
